body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
.main_container{
    padding: 2px;
    background-image:url('./banner/banner2.png');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* lllll */
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.element-container{
    margin: 10% auto;
    padding: 50px;
}
.text-content{
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}
.prgraph{
    text-align: right;
    padding: 10px;
}
.right{
    text-align: right;
    margin: 10px;
}

.main-parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.main-section-title{
    margin: 30px;
    font-size: 48px;
}
.main-section-paragarph{
    margin: 30px;
}
.element-content img{
    width: 400px;
    height: 500px;
}
.element-content ul li{
    list-style-type: none;
}
.element-content ul li i{
    color: green;
    padding: 10px;
}